<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<marquee>
    <h4 style="font-family: serif;">ALFA INFOTECH SERVICES</h4>
</marquee>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h4>About Our Alfa Infotech Services</h4>
            <p>
                Welcome to Alfa infoteach Services ,Where customer service excellence is our priority
                .We are dedicated to providing top-notch call center services tailord to your business needs. 
               
            </p>
            <div>
                <div class="logo ">
                    <img src="/static/img/poster6.jpg" class="aboutpic">
                </div>
                <h4>Our Services</h4>
                <p>
                    <ul>
                        <li>Customer Support</li>
                        <li>Live Chat and Email</li>
                        <li>Technical Support</li>
                        <li>Inbound and Outbound Call Services</li>
                        
                    </ul>
                </p>
            </div>
            <div class="logo ">
                <img src="/static/img/pic9.jpeg" class="aboutpic">
            </div>
           


        </div>
        <div class="col-lg-6">
            <h4>Our team</h4>
            <p>
                We take pride in our team of skilled
                professionals who are passionate about customer services.Our call center agents are trained,experienced
                ,and dedicated to representing your brand effectively

            </p>
            <div class="logo ">
                <img src="/static/img/poster1.jpg" class="aboutpic">
            </div>
           
            
            <div>
                <h4>Contact-us</h4>
                <p>
                    If you have any questions or inquries,please feel free to contact us:
                </p>
                <ul>
                    <li>Phone:7777575757</li>
                    <li>Email:alfainfo@gmail.com</li>
                    <li>Address:Fajalganj kanpur</li>
                </ul>
            </div>
            <div class="logo ">
                <img src="/static/img/pic4.webp" class="aboutpic">
            </div>

        </div>

    </div>

</div>
{% include "footer.html" %}
</html>