<footer>
        
    <div class="row">
        <div class="col-lg-4 col-md-3 col-6">
            <div class="logo ">
                <img src="/static/img/logo.png" class="logopic">
            </div>
         </div>
        <div class="col-lg-4 col-md-3 col-6">

            <h5>important links</h5>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT-US</a></li>
                <li><a href="/contact">CONTACT-US</a></li>
                
                <li><a href="/gallary">GALLARY</a></li>

            </ul>

        </div>
       
        <div class="col-lg-4 col-md-3 col-6">

            
            <ul>
                
                    <li> <a href="tel:+916392675114"><i class="fa fa-phone"></i>+916392675114</a></li>
                     <li><a href="mailto:alfa@gmail.com"><i class="fa fa-envelope"></i>alfa@gmail.com</a></li
                
                <li><i class="fab fa-whatsapp"></i>:234556677777</li>
                <li><i class="fab fa-facebook"></i>:ALFA@CALL</li>
                <li><i class="fab fa-twitter"></i>:ALFA@CALL</li>

            </ul>
            
        </div>
    </div>
    
    <div class="footer-content">
        <p>&copy 2023 Alfa infotech services.All rights reserved</p>

    </div>
</footer>