<style>
    .ajay{
        height:360px;
        width:450px;
        border:2px solid black;
        margin-left:400px;
        margin-bottom:30px;
        border-radius:0 45px 0 45px;
        background-color: rgb(211, 196, 255);
        
    }
    .thlogo{
        width: 200px;
        height:200px;
        margin-left: 100px;
    }
   
</style>

{% include "header.html"%}
<div class="ajay mt-5">
    <div><marquee>welcome to alfa info</marquee></div>

        <h4 class="mt-5 p-2">
            Your form has been succesfully submitted,<br>
            All the best for your wishes.<br>
            Have a nice day.
        </h4>
        
        <div>
            <img src="/static/img/logo.png" class="thlogo">

        </div>
</div>

{%  include "footer.html"%}.